body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #e6e6e6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    height: 100dvh;
}

#login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
}

#login-page input[type="text"], #login-page button {
    width: 70%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    outline: none;
}

#login-page button {
    background-color: #3a3a3a;
    color: #e6e6e6;
    cursor: pointer;
}

#login-page button:hover {
    background-color: #505050;
}

#login-page h1 {
  text-align: center;
  align-self: center;
}

#chat-room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    max-width: 800px;
    margin: 0rem auto;
    border-radius: 10px;
    overflow: hidden;
}

#chat-room h1 {
  align-self: center;
}

#scroll-window {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
    background-color: #121212;
}

#chat-history {
    max-height: 100%;
    overflow-y: auto;
}

.message {
    background-color: #222222;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    line-height: 1.5;
    word-wrap: break-word;
}

#user-controls, #user-list {
    background-color: #222222;
    padding: 1rem;
}

#user-list {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    z-index: 9999;
}

#user-list.show {
    display: block;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: #e6e6e6;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #505050;
}

#connected-users {
  cursor: pointer;
}

#connected-users span {
  text-decoration: none;
}

#connected-users .underline {
  text-decoration: underline;
}
