<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/emojionearea@3.4.2/dist/emojionearea.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/emojionearea@3.4.2/dist/emojionearea.min.js"></script>
    <script src="static/scripts.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="chat-room">
        <h1>Chat Room<font size="1"> *having issues with Firefox browsers</font></h1>
        <div id="scroll-window">
            <div id="chat-history"></div>
        </div>
        <div id="user-controls">
            <div id="connected-users" onclick="toggleUserList()">Connected Users</div>
            <div id="user-list"></div>
            <textarea id="message-input" placeholder="Type your message"></textarea>
            <button onclick="sendMessage()">Send Message</button>
            <button onclick="promptChatbot()">Prompt Chatbot AI</button>
        </div>
    </div>
</body>
</html>
